custom-policy/src/main/mule/impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implFlow" doc:id="1fada6d9-61b5-4ebd-bd87-926deb3944fd" >
		<logger level="INFO" doc:name="Logger" doc:id="ea596f73-c4b3-4175-b962-0f1249280237" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="01e0b023-d880-4747-ab1f-e4403aa2071b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"success": "Custom Policy"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
