jwt-token/src/main/mule/jwt-token.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ae8000ca-53aa-4891-8b82-16fae1ed2318" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<api-gateway:autodiscovery apiId="17484269" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="0dfa5bb3-d966-4f7f-84cf-ca30f3e53290" flowRef="jwt-tokenFlow" />
	<flow name="jwt-tokenFlow" doc:id="5e86910b-79cd-4a53-bbd4-136e979b806d" initialState="started">
		<http:listener doc:name="Listener" doc:id="8026d2cd-ad23-4c0f-acf1-209ed0a37c92" config-ref="HTTP_Listener_config" path="/jwt"/>
		<logger level="INFO" doc:name="Logger" doc:id="697335b7-b548-4400-9db8-69811bee4cdc" message='"start"'/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="be959e0a-2d17-4b6c-9b2b-f3b544c98e24" />
		<ee:transform doc:name="Transform Message" doc:id="fa045fd2-5fdf-45fa-b36b-77f283829ffc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
