hello/src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4edbeb5d-aed8-43d0-b107-7a5d72430ed0" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="9b9082cb-ea79-48df-af59-6bcc469aba72" >
		<http:listener doc:name="Listener" doc:id="50123818-7ecd-4d35-b79c-2581b93fd327" config-ref="HTTP_Listener_config" path="/hello"/>
		<logger level="INFO" doc:name="Logger" doc:id="75f23117-4731-429f-8ab6-08ac64bbb69e" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="71661440-ca8e-4042-934e-45950a3d61a8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "hello Sathish, Murali, Vijay & Lokesh",
	"message1": "Hello Hyderabd"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
