sample-1/src/main/mule/sample-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="eb076261-59f5-4b63-88d8-7a366a124583" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="e4d324db-6a8e-4e77-bdaa-18f6614c743c" >
		<http:request-connection host="localhost" port="8083" />
	</http:request-config>
	<flow name="sample-1Flow" doc:id="1fd9f7ab-5aca-4aee-9d2b-d164e322bd8f" >
		<http:listener doc:name="Listener" doc:id="10e3840b-1f78-4715-aef9-ea2bc53acd0e" config-ref="HTTP_Listener_config" path="/sample1">
			<http:error-response statusCode="#[vars.statusCode]">
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<http:request method="GET" doc:name="Request" doc:id="4df66d08-b1aa-45ec-998d-f837b60267ee" config-ref="HTTP_Request_configuration" path="/validateToken">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : attributes.headers.Authorization
}]]]></http:headers>
		</http:request>
		<set-payload value='#["Success"]' doc:name="Set Payload" doc:id="9d4cab30-baed-45ce-b452-5c1f7fb596a8" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="57a99261-f041-4b6c-9092-497a54ccef66" type="HTTP:UNAUTHORIZED">
				<ee:transform doc:name="Transform Message" doc:id="27146cbe-ad20-4679-a60f-e99fdc09c5df" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[401]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="83b42d1c-7d84-4b0a-8fdb-c42ba298123a" >
				<ee:transform doc:name="Transform Message" doc:id="0e27e3d0-1132-4814-bcbd-0b5635524264" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="statusCode" ><![CDATA[500]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
