assignment_l_sysapi/src/main/mule/assignment_l_sysapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55d36272-68a4-4564-99e5-b98a5d40e4e7" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="fa7bfe26-c0e3-43b2-86c0-65efd6959b57" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Btr@1234" />
	</db:config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="4b489536-013d-47f9-8e8c-e9bef03a7e1a" >
		<email:smtp-connection host="smtp.google.com" port="587" user="thirupathiraj2018" password="Btr@1233" timeoutUnit="MINUTES">
			<email:properties >
				<email:property key="mail.smtp.starttls.enable" value="true" />
			</email:properties>
		</email:smtp-connection>
	</email:smtp-config>
	<flow name="assignment_l_sysapiFlow" doc:id="9692ef66-ba79-4df3-88c5-ece2fb0441af" >
		<http:listener doc:name="Listener" doc:id="62e8ef9d-8572-4cfa-8ddb-721c07ec983d" config-ref="HTTP_Listener_config" path="/employees"/>
		<logger level="INFO" doc:name="Logger" doc:id="b96bab12-5034-4848-b26a-23dd5bcfd297" message='"Main FLow Start"'/>
		<db:insert doc:name="Insert" doc:id="882b39ca-0ca8-4c8c-9736-0e32e0ce7af9" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into emp.emp1(empNo, empName, empDesign, empSal) values(:empNo, :empName, :empDesign, :empSal)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empNo: payload.empNo,
	empName: payload.empName,
	empDesign: payload.empDesign,
	empSal: payload.empSal
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="c66e1218-0036-4f88-b41c-02ecc47d671f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Success": "Your Account Has Been Created Successfully",
	"transactionId": correlationId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<email:send doc:name="Send" doc:id="05f75737-406b-4420-83b7-3f2a10065c39" config-ref="Email_SMTP" fromAddress="thirupathiraj2018@gmail.com" subject="Congrats! Your Account Created Successfully">
			<email:to-addresses >
				<email:to-address value="tbommishetty@eniquesolutions.com" />
				<email:to-address value="alakshman@eniquesolutions.com" />
				<email:to-address value="tbommishetty@eniquesolutions.com" />
				<email:to-address value="alakshman@eniquesolutions.com" />
			</email:to-addresses>
			<email:body >
				<email:content ><![CDATA[#[payload.Success ++ " With TransactionID: " ++ payload.transactionId]]]></email:content>
			</email:body>
		</email:send>
	</flow>
</mule>
