formarchange/src/main/mule/formarchange.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ba63ab54-e12a-4834-a2f7-af8be2440d42" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="CSV_To_FlatFile" doc:id="e9f35695-47e1-4bcd-8b70-473b8f55812e" >
		<http:listener doc:name="Listener" doc:id="5a436b09-2691-4caf-a2d6-9c1315f02b39" config-ref="HTTP_Listener_config" path="xmlToJson"/>
		<ee:transform doc:name="Transform Message" doc:id="4a77ff3a-3529-4287-85e8-5d2af93aa160" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/flatfile schemaPath="EmployeeFile.ffd"
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="72ce9900-7248-4023-8fdd-7ac8cdad12b6" message="#[payload]"/>
		<file:write doc:name="Write" doc:id="28cf4105-f75c-4956-b731-17b365337c52" path="C:\Users\admin\Desktop\CSV_To_FlatFiletxt"/>
	</flow>
</mule>
